@charset "utf-8";



h1{

              font-size: 16px;

              text-align: center;

}

.container{

              border-top: 1px solid #111;

              margin: 0 auto;

              background-color: #fefefe;

}

li{

              list-style: none;

}

.answer{display: none;}

.down{display: none;}
ol{
  padding-left: 20px;
}
ol li{
  list-style: decimal;
}
footer{
  width: 95%;
  padding: 1rem 2rem;
  text-align: center;
  border-top: 1px solid #f3f3f3;
}
.foot_container{
  width: 100%;
}

/* SP */

@media (max-width: 499px){

              h1{

                            font-size: 16px;

                            text-align: center;

              }

              .container{

                            width: 95%;

              }

              li{

                            padding: 10px 5px;

                            border-bottom: 1px solid #f3f3f3;

                            width: 90%;

              }
              span{
                position: absolute;
                right: 5%;
              }

}

/* tablet *//*

@media screen and (min-width: 500px){}



/* PC *//*

@media screen and(min-width: 800px){}
